body {
    background-color: palegoldenrod;
    min-width: 900px;
}

h1 {
    font-family: "Rubik Doodle Shadow";
    text-align: center;
}

.container {
    display: flex;
}

.left-container,
.middle-container,
.right-container {
    flex: 1;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-border {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 700px;
    border: 1px rgba(0, 0, 0, 0.383) solid;
    border-radius: 2px;
}

.grid-border,
.top-bar {
    width: 700px;
}

.top-bar {
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin: 8px auto;
    /* such that padding does not increase the width of div */
    box-sizing: border-box;
    padding: 0 8px;
}

#grid-size,
h1 {
    user-select: none;
}

#new-button,
#clear-button,
#grid-size {
    width: 120px;
    height: 40px;
}

#new-button,
#clear-button,
#grid-size,
.left-container button {
    border: 2px black solid;
    border-radius: 4px;
    padding: 0;
    font-size: 14px;
    /* the button element and span element provided the same dimensions were not displayed with equal dimensions
     * box-sizing fixes the issue by including padding and border in specified width and height
     */
    box-sizing: border-box;
}

.left-container button {
    width: 60px;
    height: 40px;
    margin: 2px 8px;
}

#new-button {
    background-color: lightseagreen;
}

button {
    opacity: 85%;
    cursor: pointer;
}

#grid-size {
    background-color: lightcoral;
    text-align: center;
    /* vertically centered */
    line-height: 40px;
}

.tileRow {
    display: flex;
    flex-grow: 1;
}

.tile {
    border: 1px rgba(0, 0, 0, 0.383) solid;
    flex-grow: 1;
    background-color: whitesmoke;
}

.selected-mode-button {
    background-color: rgb(92, 127, 191);
}